*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
overflow-x: hidden;
font-family: 'Inter', sans-serif;

background-color: #06121E;
}

:root{
  --font-family-1: 'Inter', sans-serif;
  --font-family-2: 'B612', sans-serif;
  --color-text-main: #FFFFFF;
}

/* HTML HEADER */
.title-header{
  color: var(--color-text-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.top-header{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 2px solid white;

  width: 100%;
  height: 64px;

  margin-bottom: 50px;
}

.imgs-header{
display: flex;
align-items: center;
gap: 16px;
margin-left: 30px;
}

.img-header-insta{
width: 40px;
height: 40px;
cursor: pointer;
transition: all 0.3s ease-in-out;

}	

.img-header-face{
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  }	

  /* HOVER FACEBOOK */
.img-header-face:hover{
  transform: translateY(-5px);
  scale: 1.1;
  transform: initial;

} 

.img-header-insta:hover{
  transform: translateY(-5px);
  scale: 1.1;
  transform: initial;
} 

/* SECTION 1 */

.first-section{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10rem;
}

.title-section{
  width: 850px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  
  font-size: 25px;
  font-weight: 700;
  font-family: var(--font-family-2);

  margin: 50px;
  color: var(--color-text-main);
}

.button-section a{
  color: var(--color-text-main);
  background-color: #0066FF;
  padding: 20px;
  border: 1px solid var(--color-text-main);
  border-radius: 5px;

  font-size: 16px;
  font-weight: 400; 
}


/* SECTION ABOUT */
.about{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 80px;

  border-top: 2px solid var(--color-text-main);

  margin-bottom: 5rem;
}

.img-about img{
  width: 70%;
  height: auto;

  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.img-about img:hover{
  transform: scale(1.05);
}

.text-about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  gap: 20px;
}

.text-about h2{
  color: var(--color-text-main);
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;

  font-family: var(--font-family-2);
}

.text-about p{
  color: var(--color-text-main);
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;

  font-family: var(--font-family-2);
}

/* SERVICES */
.line{
  border-top: 2px solid var(--color-text-main);
}

.services{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;

}

.services-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;


  color: var(--color-text-main);

  margin: 25px;
  gap: 10px;
}

.services-title h2{
  font-size: 30px;
  font-weight: 700;

  font-family: var(--font-family-2);
}

.services-title h3{
  font-family: var(--font-family-2);
  font-weight: 500;
}

.services-img img{
  width: 250px;
  height: auto;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;

}

.services-img{
  display: flex;
  align-items: center;
  flex-direction: row;

  gap: 35px;
  cursor: pointer;
}


.services-img img:hover{
  transform: scale(1.05);
}

/* CONTACT */

.contact{
  display: flex;
  align-content: center;
  justify-content: center;
}

.bg_home{
  position: fixed;
  inset: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
}

.bg_home img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg_home::after{
  content: '';

  width: inherit;
  height: inherit;
  position: fixed;
  inset: 0;
  opacity: 0.5;
  background: linear-gradient(-233deg, #000 100%, rgba(0, 0, 0, 0) 65%) ;
}
