/* RESET E CONFIGURAÇÕES GERAIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: #06121E;
  font-family: "Kufam", sans-serif;
  color: #FFFFFF;
}

/* VARIÁVEIS */
:root {
  --font-family: "Kufam", sans-serif;
  --color-text-main: #FFFFFF;
}

/* ================= HEADER ================= */
.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 10px;
  margin-bottom: 50px;
  border-bottom: 2px solid white;
}

.title-header h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-main);
  font-family: var(--font-family);
}

.imgs-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 30px;
}

.img-header-insta,
.img-header-face {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.img-header-insta:hover,
.img-header-face:hover {
  transform: translateY(-5px);
  scale: 1.1;
}

/* ================= SEÇÃO PRINCIPAL ================= */
.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.first-section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 50px;
  font-size: 25px;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--color-text-main);
}

.button-section {
  transition: all 0.3s ease-in-out;
}

.button-section:hover {
  transform: translateY(-5px);
  scale: 1.05;
}

.button-section a {
  color: var(--color-text-main);
  background-color: #0066FF;
  padding: 20px;
  border: 1px solid var(--color-text-main);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-family);
}

/* ================= SOBRE ================= */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px;
  border-top: 2px solid var(--color-text-main);

  margin: 80px;
}

.img-about img {
  width: 70%;
  height: auto;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  border: 1px solid var(--color-text-main);
}

.img-about img:hover {
  transform: scale(1.05);
}

.text-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.text-about h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
  font-family: var(--font-family);
}

.text-about p {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--font-family);
}

/* ================= SERVIÇOS ================= */
.line {
  border-top: 2px solid var(--color-text-main);
}

.services-wrapper {
  margin-bottom: 15rem;
}

.services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 25px;
  gap: 10px;
  color: var(--color-text-main);
}

.services-title h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: var(--font-family);
}

.services-title h3 {
  font-weight: 400;
  font-family: var(--font-family);
}


/* ================= BACKGROUND ================= */
.bg_home {
  position: fixed;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.bg_home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg_home::after {
  content: '';
  position: fixed;
  inset: 0;
  width: inherit;
  height: inherit;
  opacity: 0.5;
  background: linear-gradient(-233deg, #000 100%, rgba(0, 0, 0, 0) 65%);
}

/* CARROUSEL */
.carousel-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  margin-bottom: 30px;
}

.main-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  transition: opacity 0.4s ease-in-out;
  margin: 0 auto;
  display: block;
}

.thumbnails {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.thumbnails .thumb {
  width: 100px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s, transform 0.3s;
}

.thumbnails .thumb:hover {
  opacity: 1;
  transform: scale(1.05);
}

.thumbnails .thumb.active {
  border: 2px solid #007bff;
  opacity: 1;
}



/* ================= CONTATO E RODAPÉ ================= */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: #06121E; */
  padding: 25px;
  border-top: 2px solid var(--color-text-main);
}

.footer img{
  width: 200px;
  height: 194px;
  border-radius: 10px;

  border: 1px solid var(--color-text-main);
}


/* RESPONSIVIDADE */
@media screen and (max-width: 769px){
.line{
  border-top: none;
}

.top-header {
  border: none;
  position: relative;
  }

.title-section h2 {
  font-size: 18px;
  width: 18rem;
}

.about{
  border-top: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-about img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 9%;
  margin-top: -25px;
  margin-bottom: 2rem;
}

.text-about p{
  font-size: 20px;
  width: 140%;
}


}



@media (max-width: 600px){
  .main-image img{
    max-width: 60%; /* ocupa quase toda a largura da tela */
  }

  .thumbnails {
    gap: 6px;
    padding: 0 10px;
  }

  .thumbnails .thumb {
    width: 70px;
    height: 45px;
  }
}